<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyServlet_info_12</display-name>
  <servlet>
  
	<servlet-name>MyServlet</servlet-name>
	<servlet-class>com.sub.nit.MyServlet_info_12</servlet-class>
	
	<init-param>
		<param-name>name</param-name>
		<param-value>rajbala</param-value>
	</init-param>
	
  </servlet>
  
<servlet-mapping>
<servlet-name>MyServlet</servlet-name>
<url-pattern>/demo</url-pattern>
</servlet-mapping>
<!-- ServletContext (global for all servlets) -->
<context-param>
<param-name>company</param-name>
<param-value>Naresh IT</param-value>
</context-param>
</web-app>
